<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/Style.css">
    <link rel="stylesheet" href="../styles/TvShows.css">
    <title>TvShows</title>
</head>
<body>
    <div id="navbar-placeholder"></div>

    <h1 class="title">Top 10 Tv Shows</h1>
    <div class="card">
        <img src="../assets/Images/breakingbad.jpg" alt="Avatar" class="slide-image" >
        <div class="container">
          <h4><b>Breaking Bad</b></h4>
          <p>2008-2013 62eps 9.5</p>
        </div>
      </div> 

      <div class="card">
        <img src="../assets/Images/bandofbrothers.jpg" alt= "Avatar" class="slide-image" >
        <div class="container">
          <h4><b>Band of Brothers</b></h4>
          <p>2001 10eps 9.4</p>
        </div>
      </div> 

      <div class="card">
        <img src="../assets/Images/chernobyl.jpg" alt="Avatar" class="slide-image" >
        <div class="container">
          <h4><b>Chernobyl</b></h4>
          <p>2019 5eps 9.3</p>
        </div>
      </div> 

      <div class="card">
        <img src="../assets/Images/sopranos.jpg" alt="Avatar" class="slide-image" >
        <div class="container">
          <h4><b>The Sopranos</b></h4>
          <p>1999-2007 86eps 9.2</p>
        </div>
      </div> 

      <div class="card">
        <img src="../assets/Images/got.jpg" alt="Avatar" class="slide-image" >
        <div class="container">
          <h4><b>Game of Thrones</b></h4>
          <p>2011-2019 74eps 9.2</p>
        </div>
      </div> 
</body>
</html>
<script>
    document.getElementById('navbar-placeholder').innerHTML = fetch('../components/NavBar.html')
            .then(response => response.text())
            .then(data => document.getElementById('navbar-placeholder').innerHTML = data);
</script>